/* .cards {
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

} */

.cards {
    display: flex;
    flex-wrap: wrap
}

.card {
    margin: 2em;
    text-align: center;
    align-items: center;
    display: flex;
    width: 400px;
    border: solid 2px;
    flex-direction: column;
    transition: 0.5s;
    background-color: rgba(255,255,255,0.7);
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear 1 forwards;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }

}
.card:hover {
    transform: scale(1.05)
}
.card-text {
    height: 20%
}
.card img {
    width: 375px;
}

.card img:hover {
    cursor: pointer;
}
