.cards {
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem
}


.card {
    grid-column:auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    display: grid;
    border: solid 2px;
    flex-direction: column
  }

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(3,1fr)}
}