/* .cards {
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

} */

.cards {
    display: flex;
    flex-wrap: wrap
}


.card {
    margin: 2em;
    text-align: center;
    align-items: center;
    display: flex;
    width: 400px;
    border: solid 2px;
    flex-direction: column;
    transition: 0.5s;
  }

.card:hover {
    transform: scale(1.05)
}

.card img {
    width: 375px;
}

.card img:hover {
    cursor: pointer;
}
