body {
    font-family: 'Catamaran', sans-serif;
    /* background-color: black; */
    margin: 0;
}

.grid-wrapper {
    height: 100%;
    display: grid;
    background-color: black
}

html {
    scroll-behavior: smooth;
  }
