div .detail-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(243, 220, 224)
}

#movie-page-left {
    display:flex;
    padding-left: 1vw;
    padding-top: 1.5vh;
    padding-right: 2vw
}

#movie-reviews-list span {
    font-size: 1.3rem
}

#movie-review {
    height: 29vh;
    overflow-y: scroll
}
#movie-page-right {
    display:flex;
    flex-direction:column;
    margin-right: 2vw;
}
div #detail-image-box img {
    max-height: 90vh;
    border-radius: 2em;
}

#movie-details h1 {
    font-family: 'Bangers', cursive;
    font-size: 60;
    text-align: center
}

#movie-details h4 {
    height: 15vh;
    overflow-y: scroll
}

#movie-details h5 {
    padding-top: 10em;
    height: 5vh;
    padding-right:30px
}

#movie-stats {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-right:30px;
    border-top:black 1px solid;
    border-bottom:black 1px solid
}

#movie-details-left {
    float: left;
    width: 50%;
}

#movie-details-right {
    float: right;
    width: 50%
}

div #movie-details {
    padding-right:30px
}

#similar-movie-text {
    margin-top: 3vh;
    border-top: solid 1px black
}

#similar-movie-box {
    display: flex;
    background-color: rgba(243, 220, 224);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

div #similar-movies {
    display: inline-flex;
    white-space: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 95vw;
    align-items: flex-end;
    background-color: rgba(243, 220, 224);
}

#movie-detail-buttons {
    height: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh
}

#movie-detail-buttons button {
    background-color: crimson; /* Green */
    border: solid black 1px;
    color: white;
    padding: 15px 32px;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#movie-detail-buttons button:hover {
    cursor: pointer;
    background-color: white;
    color: black
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  .middle-left {
      width: 50%;
  }

  .middle-right {
      width: 50%
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="detail-wrap"] {
      width: 100%;
    }
  }

  #star {
      color: rgb(210, 210, 12)
  }