div .detail-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    padding: 0, 2em;
    height: 90vh;
    background-color: rgba(255,255,255);
}

div #detail-image-box img {
    max-height: 85vh
}

#movie-details h1 {
    font-family: 'Bangers', cursive;
    font-size: 60;
    text-align: center
}

#movie-details h4 {
    height: 15vh
}

#movie-details h5 {
    padding-top: 10em;
    height: 10vh
}

#movie-stats {
    height: 22.5vh;
    display: flex;
    flex-direction: row;
    align-content: center
}
#movie-details-left {
    float: left;
    padding: 0em, 2em;
    width: 30vw;
    margin-left: 2em
}

#movie-details-right {
    float: right;
    text-align: center
}

#movie-details-right p {
    align-self:auto
}

div #movie-details {
    margin-left: 2em
}

div #similar-movies {
    margin-left: 2em;
    display: inline-flex;
    white-space: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y:hidden;
    height: 26vh;
    width: 65vw;
    border: solid black 1px;
    background-color: black;
    cursor: grab;
}

#similar-movie-text {
    margin-left: 2em
}

