div .detail-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgba(255,255,255);
}

#movie-page-left {
    display:flex;
    padding-left: 1vw;
    padding-top: 1.5vh;
    padding-right: 2vw
}
#movie-page-right {
    display:flex;
    flex-direction:column;
    margin-right: 2vw;
}
div #detail-image-box img {
    max-height: 90vh
}

#movie-details h1 {
    font-family: 'Bangers', cursive;
    font-size: 60;
    text-align: center
}

#movie-details h4 {
    height: 15vh;
    overflow-y: scroll
}

#movie-details h5 {
    padding-top: 10em;
    height: 5vh;
    padding-right:30px
}

#movie-stats {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-right:30px;
    border-top:black 1px solid;
    border-bottom:black 1px solid
}
#movie-details-left {
    float: left;
    width: 30vw;
}

#movie-details-right {
    float: right;
}

#movie-details-right p {
    align-self:auto
}

div #movie-details {
    padding-right:30px
}

#similar-movie-text {
    margin-top: 3vh;
    border-top: solid 1px black
}
div #similar-movies {
    display: inline-flex;
    white-space: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y:hidden;
    height: 28.3vh;
    width: 60vw;
    border: solid black 1px;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.9);
}

#movie-detail-buttons {
    height: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh
}

#movie-detail-buttons button {
    background-color: crimson; /* Green */
    border: solid black 1px;
    color: white;
    padding: 15px 32px;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#movie-detail-buttons button:hover {
    cursor: pointer;
    background-color: white;
    color: black
}
