    .video-responsive iframe {
    height: 250%;
    width: 250%;
    transform: translate(-25%, -25%);
  }

  .modal-background-mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.2;
  }

  .modal {
    position: fixed;
    display: flex;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }